body {
  background-color: #001628;
}
.grid {
  width: 300px;
  height: 300px;
  border: solid #7ecbc4 1px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  background-color: #c890ec;
  border-radius: 5px;
}

.shooter {
  background-color: #7ecbc4;
}

.results {
  color: #7ecbc4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.laser {
  background-color: #c5e571;
}

.boom {
  background-color: orange;
}
